@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css');
@import url('font.css');
@import url('animate.min.css');
@import url('grid.css');

html,body{
    height: 100%;
}
body{
    font-family: 'IBM', sans-serif;
    font-size: 1rem; /* =16px */
    color: #454545;
    margin: 0;
}
a,a:link{
    color: #454545;
    text-decoration: none;
}
a:hover{
    color: #000;
}
.container{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
section{
    padding-top: 100px;
}
.d-flex{
    display: flex;
}

/****************** HEADER *******************/
header{
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    color: #fff;
}
.header-background{
    width: 100%;
    height: 100px;
    z-index: 1;
    position: fixed;
    background: #fff;
    border-bottom: 1px solid #ccc;
    display: none;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
}
.black-font{
    color: #333 !important;
}
.black-border{
    border: 1px solid #333 !important;
}
ul.main-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
a.logo{
    font-size: 1.7em;
    font-weight: 800;
    color: #fff;
    padding-bottom: 30px;
}
nav{
    width: 53%;
}
.main-nav>li{
    width: 14%;
    padding-bottom: 30px;
}
.main-nav>li>a{
    font-size: 1.2em;
    font-weight: 700;
    color: #fff;
    position: relative;
}
.main-nav>li>a::after{
    content: "";
    position: absolute;
    height: 4px;
    background: #16398b;
    left: 0;
    right: 0;
    bottom: -42px;
    transform: scaleX(0);
    transition: all 0.4s;
}
.main-nav>li>a:hover::after{
    transform: scaleX(1);
}
.right{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.searchform{
    border: 1px solid #fff;
    margin-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}
input.search{
    border: none;
    outline: none;
    padding: 5px 10px 5px 35px;
    font-size: 1.2em;
    background-color: transparent;         /* 배경 : 투명 */
    color: #fff;
}
.search-icon{
    position: absolute;
    top:13px;
    left: 12px;
}
input::placeholder{
    color:#fff;
    font-size: small;
    font-weight: 400;
}
.btn-h-line{
    background: transparent;  /* 배경 : 투명 */
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #fff;
    color: #fff;
    width: 80px;
    cursor: pointer;
}
.btn-list{
    margin-left: 8px;
    padding: 12px 5px;
    width: 80px;
}
.btn-h-line>i{
    font-size: 1.5em;
}


/************** GLOBAL FULL NAV **************/
#gnb{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: #16398b;
    z-index: 999;
    display: none;
}
#gnb>ul{
    width: 100%;
    height: auto;
    display: flex;
    padding: 0 5rem;
    list-style: none;
    margin: 0;
    color: #fff;
}
#gnb>ul>li{
    flex: 1;
    padding: 4rem 2rem 4rem 1.5rem;
    border-right: 1px solid rgba(255,255,255,.2);
}
#gnb>ul>li:first-child{
    border-left: 1px solid rgba(255,255,255,.2);
}
#gnb>ul>li>a{
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
    transition: all 0.6s;
}
#gnb>ul>li>a:hover,
.submenu>ul>li>a:hover{
    color: #ffce00;
}
.submenu{
    margin-top: 2rem;
}
.submenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.submenu>ul>li{
    overflow: hidden;
}
.submenu>ul>li>a{
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 3;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition:all 0.6s;
}
.lnb-detail a{
    color:#91ace6;
    font-weight: 500;
    display: block;
    line-height: 1.8;
    letter-spacing: -1px;
    white-space: nowrap;
}
.lnb-detail a::before{
    content: "- ";
}
.lnb-detail a:hover{
    color: #ffce00;
    text-decoration: underline;
    transition: all 0.6s;
}

.closebox{
    position: absolute;
    top:50px;
    right: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
    transition:all 0.1s;
}
.closebox:hover{
    transform: rotateZ(90deg);
}
.closebox>div:first-child{
    position: absolute;
    width: 100px;
    height: 2px;
    background: #fff;
    transform: rotateZ(45deg);
    top:28px;
    left: -20px;
}
.closebox>div:last-child{
    position: absolute;
    width: 100px;
    height: 2px;
    background: #fff;
    transform: rotateZ(-45deg);
    top:-3px;
    left: -20px;
}


/****************** HERO *******************/
.vcontainer{
    width: 100%;
    height: 100%;
}
.vdobox{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
video.vdo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}
.vdobox h1{
    position: absolute;
    color:#fff;
    font-size: 3.5em;
    line-height: 1.2em;
    font-weight: 900;
    text-align: center;
    top:200px;
    left:50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    letter-spacing: -5px;
    width: 100%;
}
.vdobox p{
    width: 100%;
    position: absolute;
    color:#555;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    top:370px;
    left:50%;
    transform: translateX(-50%);
}
.circle-box{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    bottom: -110px;
    left: calc(50% - 110px);
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 10;
}
.btnbox{
    width: 15px;
    height: 20px;
    border: 2px solid #fff;
    position: absolute;
    top: 30px;
    left: calc(50% - 7.5px);
    z-index: 11;
    border-radius: 5px;

}
.line{
    position: absolute;
    top:2px;
    left: calc(50% - 1px);
    width: 2px;
    height: 5px;
    background: #fff;
    animation-name: line-action;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.circle-box p{
    position: absolute;
    top: 15px;
    color: #fff;
    z-index: 22;
    font-size: 0.7em;
    font-weight: 400;
    width: 220px;
}


/****************** SUBMENU *******************/
.d-submenu-main{
    display: none;
}
.d-submenu{
    position: absolute;
    z-index: 999;
    background: #fff;
    width: 100%;
    top:100px;
    left: 0px;
    color: #333;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
ul.d-submenu>li:first-child{
    width:25%;
    padding: 40px 30px 30px 140px;
    border-right: 2px solid #eee;
}
ul.d-submenu>li:nth-child(2),
ul.d-submenu>li:nth-child(3){
    margin: 40px 0;
    border-right: 2px solid #eee;
    width: 17%;
    padding-left: 20px;
    padding-right: 20px;
}
ul.d-submenu>li:last-child{
    padding-left: 20px;
    padding-top: 40px;
}
.d-submenu h1{
    font-size: 3em;
    margin: 0;
}
.d-submenu p{
    font-size: 1.2em;
    margin: 0;
}
.d-sub-title{
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.d-sub-title a.act{
    color: #fff;
}
.d-sub-title span.act{
    border-radius: 50%;
    background: #061536;
    display: block;
    width:25px;
    height: 25px;
    color: #fff;
    text-align: center;
}
.d-sub-title-before{
    background: #16398b;
    width: 130%;
    height: 100%;
    position: absolute;
    top:0;
    left:-140%;
    z-index: -1;
    transform: skew(-45deg);
    transition: all 300ms;
}
.d-sub-title-before.d-sub-title-before-hover{
    left:-20%;
}
.d-submenu ul li{
    list-style-type: disc;
}
.d-submenu ul li::marker{
    color: #ccc;
}
.d-submenu ul li a{
    font-weight: 500;
}
.d-submenu ul li:hover::marker{
    color: #16398b;
}
.d-submenu ul li a:hover{
    text-decoration: underline #16398b;
    color: #16398b !important; /* !important : 강제로 가장 우선 명령을 주는 것 */
}

@keyframes line-action {
    from{
        top:0;
    }
    to{
        top:8px;
    }
}
@media screen and (max-width:1600px) {
    .vdobox{
        height: auto;
    }
    .vdobox h1{
        font-size: 3em;
    }
    .vdobox p{
        font-size: 1em;
    }
}
@media screen and (max-width:768px) {
    header{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header .logo{
        font-size: 1.3em;
        font-weight: 500;
    }
    .vcontainer{
        position: relative;
    }
    .vcontainer::after{
        display: block;
        content: "";
        padding-bottom: 45%;
    }
    .vdobox{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 45%;
    }
    .vdobox h1{
        top:100px;
        font-size: 2em;
        font-weight: 500;
        letter-spacing: -2px;
    }
    .vdobox p{
        top: 200px;
        font-size: 0.8em;
        color: #fff;
        width: 80%;
    }
    .vdo{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    nav,
    .searchform{
        display: none;
    }
    .right{
        width: 15%;
    }
    .btnbox p{
        width: 150px;
        top: 15px;
    }
    .btn-h-line span{
        font-size: 0.6em;
        padding-left: 8px;
        padding-left: 8px;
    }
}

/*************** SECTION NEW ****************/
.new-title{
    font-size: 3.5em;
    color: #000;
    letter-spacing: -2px;
}
.new-title em{
    font-style: normal;
    color: #2f5bc1;
}
.img{
    margin-right: 30px;
    position: relative;
}
.img img{
    object-fit: cover;
    width: 110px;
    height: 110px;
}
.img::before{
    content: "";
    position: absolute;
    top:-7px;
    left:-7px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-sizing: content-box;
    border: 7px solid transparent;
    outline: 2px dotted #eee;
    animation: rolling 25s infinite linear;
}

@keyframes rolling{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.desc-text{
    width: 330px;
}
.desc-text h2{
    font-size: 1.5em;
    margin: 0;
}
.desc-text p{
    margin: 0;
    margin-top: 5px;
    font-size: 1.1em;
    font-weight: 500;
}
.card{
    background: #eee;
    border-radius: 8px;
    height: 150px;
}
.card-img{
    display: inline-block;
    margin: 0 20px 0 30px;
    background: #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 10px;
}
.card-img i{
    font-size:50px;
    margin-left: 5px;
    color:#2f5bc1;
}
.card-body{
    width: 60%;
}
.card-body h3{
    margin:0 0 8px 0;
}
.card-body p{
    margin:0;
    font-weight: 500;
}